body {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
}

p {
    margin: 0px;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 16px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 82px;
}

.header {
    padding: 8px 200px 100px 200px;
    display: flex;
    flex-direction: column;
}

.header-info {
    display: flex;
    gap: 30px;
}

.header,
.footer {
    background-color: #1F2937;
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8;
}

a,
.header p {
    color: #c3c4c5;
    font-size: 18px;
    text-decoration: none;
}

a:hover {
    color: #e7e7e7;
}

.header-info p {
    margin-bottom: 16px;
}

li {
    font-size: 18px;
}

h1 {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
    margin: 0;
}

.image-placeholder {
    width: 550px;
    height: 275px;
    background-color: grey;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-shrink: 0;
}

button,
.call-to-action {
    background-color: #3882F6;
}

button {
    width: 125px;
    height: 30px;
    border-radius: 8px;
    color: #E5E7EB;
    border: 0;
    padding: 4px 16px;
    font-size: 18px;

    transition-property:
    width, height, line-height;
    transition-duration: 0.3s;
    transition-timing-function: ease;
    transition-delay: 0;
}

button:hover {
    width: 150px;
    height: 40px;
}

h2 {
    text-align: center;
    margin-top: 30px;
    font-weight: 900;
    font-size: 36px;
}

.information {
    display: flex;
    justify-content: center;
    padding: 10px 175px 150px 175px;
    gap: 10px;
}

.illustration {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.illustration p {
    color: #747474;
    font-size: 14px;
}

.illustration-image {
    height: 200px;
    width: 200px;
    border: solid #3882F6;
    border-radius: 8px;
    margin-bottom: 5px;
}

figure {
    border: 16px;
}

.quote {
    padding: 150px 230px 150px 230px;
    background-color: #E5E7EB;
}

#author {
    font-weight: 500;
    text-align: end;
}

.quote p {
    font-size: 36px;
    color: #1F2937;
    font-style: italic;
    font-weight: 250;
}

#white-background {
    padding: 120px 200px 120px 200px;
}

.call-to-action {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px 100px 60px 100px;
    border-radius: 4px;
}

h3 {
    color: #F9FAF8;
    margin: 0;
    font-size: 22px;
}

#cta-button {
    display: flex;
    border: solid #F9FAF8;
    border-radius: 8px;
    width: 125px;
    height: 30px;
}

#cta-text p {
    color:#e7e7e7;
    font-size: 18px;
}

.footer {
    text-align: center;
    color: #e7e7e7;
    padding: 16px;
}